# This enables the Suricata module
filebeat.modules:
- module: suricata
  eve:
    enabled: true
    var.paths: ["/var/log/suricata/eve.json"]

setup.kibana:
  host: "ELK_SERVER_IP_PLACEHOLDER:5601"

# This section tells Filebeat where to send the data
output.elasticsearch:
  hosts: ["ELK_SERVER_IP_PLACEHOLDER:9200"]
  username: "elastic"
  password: "${ELASTIC_PASSWORD}"